.App {
  text-align: center;
}

.postBox {
  background-color: rgb(230, 230, 230);
  position: relative;
  display: flex;
  height: 10vh;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 4vh;
  border-radius: 10px;
  box-shadow: rgb(129, 132, 133) 5px 5px 5px 3px;
}

.post-userPic {
  width: 3vw;
  height: 6vh;
  border-radius: 50%;
  margin-top: 0.2vh;
}

.user-box {
  margin-top: 1vh;
  height: 10vh;
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
}

.user-name {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 0.5vh;
}

.postArea {
  width: 35vw;
  height: 50vh;
  box-shadow: 5px 2px 5px 2px gray;
  margin: auto;
  border-radius: 10px;
}

.postAreaB {
  width: 35vw;
  height: 50vh;
  box-shadow: 5px 2px 5px 2px gray;
  margin: auto;
  border-radius: 10px;
  margin-top: 10vh;
}

.post-image {
  height: 30vh;
  margin: auto;
  margin-top: 3vh;
  border-radius: 5px;
}

.post-content {
  margin-top: 2vh;
  font-weight: bold;
}

.update-button {
  width: 30vw;
  margin: auto;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.button-p {
  width: 5vw;
  height: 3vh;
  background-color: rgb(124, 159, 255);
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  margin-top: 3vh;
}

.post-title {
  margin-left: 4vw;
  margin-top: 4vh;
  font-size: large;
}

.bigPostImage {
  width: 50vw;
  margin-left: 25vw;
}

#create-post {
  font-size: 25px;
  color: darkblue;
  font-weight: bold;
  margin-top: 10vh;
}

.projectBox {
  background-color: rgb(255, 175, 2);
  position: relative;
  display: flex;
  height: 10vh;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 4vh;
  border-radius: 10px;
  box-shadow: rgb(129, 132, 133) 5px 5px 5px 3px;
}

.instruction-events {
  width: 20vw;
  font-size: 20px;
  margin-left: -5vw;
}
.project-languages {
  margin-top: 1vh;
  margin-left: 2vw;
  background-color: rgb(219, 210, 210);
  height: 2vh;
  border-radius: 3px;
  font-size: 12px;
}

.project-title {
  margin-left: 2.5vw;
  margin-top: 1.5vh;
  font-size: large;
}

.image-container {
  margin-left: 17.5vw;
  width: 65vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.newProjectImage {
  height: 20vh;
}

.newProjectPage {
  background-color: rgb(249, 249, 249);
  height: 100vh;
}
.welcome {
  width: 16vh;
  border-radius: 10px;
}

.bigPostImageB {
  width: 20vw;
  margin: auto;
  margin-top: 2vh;
}

.bigPost-title-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 2vh;
  font-weight: bold;
}

.bigPost-title-containerB {
  position: relative;
  width: 30vw;
  height: 5vh;
  font-weight: bold;
  background-color: rgb(124, 159, 255);
  margin: auto;
  margin-top: 3vh;
  border-radius: 5px;
}
.bigPost-title-containerC {
  width: 30vw;
  height: 5vh;
  font-weight: bold;
  background-color: yellowgreen;
  margin: auto;
  margin-top: 3vh;
  border-radius: 5px;
}

.bigPost-title-containerD {
  width: 30vw;
  height: 5vh;
}

.projectUserImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contactPoster {
  margin-top: 5vh;
}

.share-box {
  width: 35vw;
  background-color: rgb(124, 159, 255);
  position: relative;
  padding-bottom: 5vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 32.5vw;
}

.share-title {
  position: relative;
  font-weight: bold;
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.share-comment {
  width: 25vw;
  height: 3vw;
  margin-left: 5vw;
  border-radius: 5px;
}
.sharebox-button {
  width: 4vw;
  margin: auto;
  margin-top: 2vh;
}

.post-comment-container {
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
}

.comment-user {
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 5vh;
}

.comment-c {
  position: relative;
  width: 30vw;
  margin-top: 5vh;
}

.dropdown-editbox {
  width: 35vw;
  height: auto;
}

.editboxA {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  width: 60vw;
}

.bigEditbox {
  display: flex;
  margin-top: 5vh;
}
.edit-update {
  margin-left: 2vw;
  border-radius: 5px;
}
