.App {
  text-align: center;
}

.header-box {
  width: 100vw;
  height: 10vh;
  background-color: rgb(124, 159, 255);
  display: flex;
}

.company_name {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
}

.nav-wrap {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}
.nav-bar {
  width: 60vw;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.nav-title {
  font-size: 20px;
  margin-top: 10px;
}
.logo-box {
  display: flex;
}
.header-logo {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 50px;
}

.auth-box {
  margin: auto;
  width: 55vw;
  height: 60vh;

  margin-top: 100px;

  display: flex;
}

.login-box {
  width: 23vw;
  height: 60vh;
  background-color: rgb(124, 159, 255);
  border-radius: 20px;
}

.register-box {
  width: 32vw;
  height: 60vh;
  background-color: yellow;
  border-radius: 20px;
}

.post-box {
  width: 40vw;
  height: 50vh;
  margin: auto;
  background-color: antiquewhite;
}

.homepage-p {
  margin-top: 50px;
  font-size: 35px;
  font-weight: bold;
}

.mission-box {
  margin-top: 50px;
  font-size: 25px;
  font-weight: bold;
  color: darkblue;
}

.postBox {
  background: linear-gradient(
    90deg,
    rgb(183, 233, 221) 0%,
    rgb(176, 220, 243) 38%,
    rgb(243, 255, 198) 100%
  );
  position: relative;
  display: flex;
  height: 10vh;
  width: 50vw;
  margin-left: 25vw;
  margin-top: 4vh;
  border-radius: 10px;
  box-shadow: rgb(129, 132, 133) 5px 5px 5px 3px;
}

#homepagePicture {
  width: 100vw;
}

.threeFunctions {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 30vh;
  margin-top: 10vh;
}

.function-image {
  width: 25vw;
}
.project-image {
  width: 20vw;
}

.playgrounds-home {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8vh;
}

.bigPostImage {
  width: 70vw;
}

.post-userPic {
  margin-left: 1vw;
  margin-top: 1vh;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.postArea {
  width: 50vw;
  box-shadow: 5px 2px 5px 2px gray;
  margin: auto;
  margin-top: 5vh;
  border-radius: 10px;
}
